# Add your domains to the list below. without the 'http://' or 'https://' part.
# Only single domain in one line, No spaces, Ex: sample-name.com
# 
# DO NOT REMOVE THIS FOUR LINE OF COMMENTS.
iamprogrammer.lk
localhost.native
test.domain
